html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* 좌우 스크롤 방지 */
  overflow-y: hidden; /* 상하(세로) 스크롤 방지 */
}
.g-container {
  background-image: url('galleryBg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 77px; /* 헤더만 내리기, 배경은 위에서부터 채움 */
}

.g-header {
  margin: 0px 112px 82px 112px;
}

.header-line {
  margin: 0;
  margin-top: 26px;
  background: #CCCCCC;
  width: 3380px;
  height: 1.5px;
  float: center;
}

.header-text {
  margin: 0;
  color: #555;
  text-align: left;
  font-family: 'Poppins';
  font-size: 46px;
  font-weight: 500;
}

.photo-scroller {
  display: flex;
  flex-direction: column;
  gap: 160px;
  overflow: hidden;
  width: 100%;
}

.row {
  display: flex;
  width: max-content;
}

.row.left {
  animation: scroll-left 50s linear infinite;
}

.row.right {
  animation: scroll-right 50s linear infinite;
  margin-bottom: 80px;
}

.row.paused {
  animation-play-state: paused;
}

.photo {
  width: 500px;
  height: 515px;
  margin-right: 25px;
  transition: width 0.3s cubic-bezier(0.39, 0.575, 0.565, 1), height 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.photo.enlarged {
  width: 600px !important;
  height: 619px !important;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.g-bottom {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end; /* 세로 아래 정렬 */
}

.bottom-text {
  margin-left: 110px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bottom-text1, .bottom-text2, .bottom-text3 {
  margin: 0;
  color: #555555;
  text-align: left;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 500;
}

.bottom-title {
  margin: 0;
  margin-right: 100px;
  color: #000;
  text-align: right;
  font-family: "Prata", serif;
  font-size: 247px;
  align-self: flex-end;
  transform: translateY(80px); /* 원하는 만큼 숫자 조절 */
}