.g-header {
    margin: 53px 70px 39px 70px;
}

.header-line {
    margin: 0;
    margin-top: 16px;
    background: #666666;
    width: 1762px;
    height: 1px;
}

.header-text {
    margin: 0;
    color: #000;
    text-align: left;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 500;
}

.photo-scroller {
  display: flex;
  flex-direction: column;
  gap: 150px;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.row {
  display: flex;
  width: max-content;
}

.row.left {
  animation: scroll-left 20s linear infinite;
}

.row.right {
  animation: scroll-right 20s linear infinite;
  margin-bottom: 80px;
}

.row.paused {
    animation-play-state: paused;
}

.photo {
  width: 268px;
  height: 276px;
  margin-right: 16px;
  transition: width 0.3s cubic-bezier(0.39, 0.575, 0.565, 1), height 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.photo.enlarged {
  width: 366px !important;
  height: 378px !important;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.g-bottom {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-text {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.bottom-text1, .bottom-text2, .bottom-text3 {
    margin: 0;
    color: #555555;
    text-align: left;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
}

.bottom-title {
    margin: 0;
    top: 30px;
    margin-right: 60px;
    color: #000;
    text-align: right;
    font-family: "Prata", serif;
    font-size: 160px;
}