.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.headerEn {
    margin: auto 0;
    text-align: center;
    justify-content: center;
    color: #008156;
    font-size: 24px;
    font-family: 'Poppins';
    font-weight: 600;
    margin-bottom: 25px;
}

.headerKo {
    margin: auto 0;
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 48px;
    font-family: 'Poppins';
    font-weight: 500;
    margin-bottom: 52px;
}

.frame-preview {
    position: relative;
    width: 971px;
    height: 486px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 100px;
}

.webcam {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.frame-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.frames {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 30px;
    padding: 30px;
}

.frames > div {
    position: relative;
    width: 303px;
    height: 181px;
    background-color: #EEE;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    box-sizing: border-box;
}

.initial {
  border: 2px solid #CCC;
  opacity: 1;
}

.unselected {
  border: 2px solid #CCC;
  opacity: 0.5;
}

.selected {
  border: 3px solid #008156;
  opacity: 1;
}

.no-frame-icon {
    width: 56px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    pointer-events: none;
}

.thumbnail2 {
    background-image: url('/thumbnail2.png');
}
.thumbnail3 {
    background-image: url('/thumbnail3.png');
}
.thumbnail4 {
    background-image: url('/thumbnail4.png');
}
.thumbnail5 {
    background-image: url('/thumbnail5.png');
}
.thumbnail6 {
    background-image: url('/thumbnail6.png');
}


.frame2 {
    background-image: url('/frame2.png');
}
.frame3 {
    background-image: url('/frame3.png');
}
.frame4 {
    background-image: url('/frame4.png');
}
.frame5 {
    background-image: url('/frame5.png');
}
.frame6 {
    background-image: url('/frame6.png');
}

.nextbutton {
    background-color: #008156;
    color: white;
    border-radius: 12px;
    width: 971px;
    height: 140px;
    font-size: 36px;
    font-family: 'Poppins';
    font-weight: 600;
}

.nextbutton:disabled {
    background-color: #D9D9D9;
    color: white;
    cursor: not-allowed;
}

.after30 {
    font-size: 28px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #888;
    margin-top: 40px;
    margin-bottom: 130px;
}
