.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.headerEn {
    margin: auto 0;
    text-align: center;
    justify-content: center;
    color: #008156;
    font-size: 24px;
    font-family: 'Poppins';
    font-weight: 600;
    margin-bottom: 25px;
}

.headerKo {
    margin: auto 0;
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 48px;
    font-family: 'Poppins';
    font-weight: 500;
    margin-bottom: 52px;
}

.frame {
    width: 971px;
    height: 486px;
    background-color: #D9D9D9;
    margin-bottom: 100px;
}
.frames {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  align-items: center;
  margin-bottom: 100px;
  gap: 30px;
  padding: 30px;
}

.frames > div {
  width: 303px;
  height: 181px;
  background-color: #EEE;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.selected {
    border: 3px solid #008156 !important;
    opacity: 1;
}

.unselected {
    border: 2px solid #CCC;
    opacity: 0.5;
}

.thumnail1 {
  background-image: url('/thumnail1.png');
}
.thumnail2 {
  background-image: url('/thumnail2.png');
}
.thumnail3 {
  background-image: url('/thumnail3.png');
}
.thumnail4 {
  background-image: url('/thumnail4.png');
}
.thumnail5 {
  background-image: url('/thumnail5.png');
}
.thumnail6 {
  background-image: url('/thumnail6.png');
}

.frame1 {
  background-image: url('/frame1.png');
}
.frame2 {
  background-image: url('/frame2.png');
}
.frame3 {
  background-image: url('/frame3.png');
}
.frame4 {
  background-image: url('/frame4.png');
}
.frame5 {
  background-image: url('/frame5.png');
}
.frame6 {
  background-image: url('/frame6.png');
}

.nextbutton {
    background-color: #008156;
    color: white;
    border-radius: 12px;
    width: 971px;
    height: 140px;
    font-size: 36px;
    font-family: 'Poppins';
    font-weight: 600;
}

.nextbutton:disabled {
  background-color: #D9D9D9;
  color: white;
  cursor: not-allowed;
}

.after15 {
    font-size: 28px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #888;
    margin-top: 40px;
    margin-bottom: 130px;
}